
<div class="fluid-width center mt5">

  <section class="aspect-ratio aspect-ratio--16x9 relative z-1">
    <div
      data-js-animate-this
      style="background-image: url({{ options.background_image_case_study }});"
      class="aspect-ratio--object cover bg-center z-1">
    </div>
    <div class="aspect-ratio--object z-2 flex items-center content-center justify-center tc">
      <div>
        <h3 data-js-animate-this class="t-44 t-white din-light-condensed tc lh-solid ttu mb3">{{ options.headline_case_study }}</h3>
        <p data-js-animate-this class="t-18 t-white poppins-reg tc ma0 ph3 pa0-l lh-solid">{{ options.text_case_study }}</p>
        <a data-js-animate-this class="dib mt3 mt4-l pa2 pa3-l ph2 ph4-l button-bg-blue t-12 ttu lh-solid no-underline t-white poppins-semi" href="{{ options.button_url_case_study }}"><span class="button-label db mt1">{{ options.button_text_case_study }}</span></a>
      </div>
    </div>
  </section>

</div>
