{% extends "layouts/base.twig" %}

{% block content %}
  {% include 'partials/page-title.twig' with { 'page_title' : 'Latest'} %}

  <section class="bg-white mv5 pv5">

    <div class="fluid-width center mt5">
      <div data-js-posts-container class="row">

        {% if posts %}

          {% for post in posts %}
          <div
            data-js-post
            class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb3 is-active blog-post">
            {% if post.terms[0].slug == 'in-the-news' %}
              <a href="{{ post.link_out ? post.get_field('link_out') : post.get_field('archive') }}" target="_blank">
            {% elseif post.terms[0].slug == 'awards' %}
                {% if post.get_field('award_link') %}
                    <a href="{{ post.get_field('award_link') }}" target="_blank">
                  {% endif %}
            {% else %}
                  <a href="{{ post.link }}">
            {% endif %}
              <div class="aspect-ratio post-ratio light-gray-bg">
                <div class="aspect-ratio--object">
                  {% if post.header_image or post.thumbnail.src %}
                    <div class="absolute left-0 top-0 right-0 dark-blue-bg aspect-ratio--16x9 o-30 z-0"></div>
                    <div
                      class="background-image aspect-ratio--16x9 bg-center cover z-1 relative is-loaded"
                      style="background-image: url( {{ (post.get_field('header_image') ? TimberImage(post.get_field('header_image')).src('large') : post.thumbnail.src('large')) }} )"
                      alt="{{ post.title }}">
                    </div>
                  {% elseif post.terms[0].slug == 'awards' %}
                      {% set post_custom = post.get_field('associated_project')[0] %}
                      {% set random_image = random(post_custom.get_field('project_images')) %}
                    <div class="absolute left-0 top-0 right-0 dark-blue-bg aspect-ratio--16x9 o-30 z-0"></div>
                    <div
                      class="background-image aspect-ratio--16x9 bg-center cover z-1 relative"
                      style="background-image: url( {{ TimberImage(random_image.image).src('large') }} )"
                      alt="{{ post.title }}">
                    </div>
                  {% endif %}


                  <h6 class="pt2 pb1 ph2 pa3-l lh-solid din-condensed t-18 t-label-gray ttu lh-solid no-underline">{{ post.terms[0].name }}{% if post.terms[1].slug == 'events' %}, {{ post.terms[1].name }}{% endif %}</h6>
                  <h5 class="ph2 ph3-l t-dark-blue t-26 lh-solid din-condensed ttu post-title">{{ post.name }}</h5>

                  {% if post.terms[0].slug == 'in-the-news' %}
                  <h5 class="absolute left-0 bottom-0 right-0 t-12 poppins-semi pa2 pa3-l t-med-gray lh-solid">{{ post.source }}</h5>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>

          {% endfor %}

        {% endif %}

      </div>
    </div>

    {% if pagination.next %}
      <span class="dn" data-js-current-page>{{ pagination.current }}</span>
      <span class="dn" data-js-total-pages>{{ pagination.total }}</span>
    {% endif %}

  </section>

  {% block footer %}
    {% include 'partials/footer.twig' %}
  {% endblock %}

{% endblock %}
