{% extends "layouts/base.twig" %}


{% block content %}
  {% include 'partials/page-title.twig' with { 'page_title' : 'Our Work' } %}
  <script>
    window.featureBaseUrl = '{{ site.url }}';
  </script>

  <section data-js-animate-page-in class="bg-white mt3 mt4-l mb5 pv5 work-container">
    <div data-js-animate-this data-js-animate-page-item class="fluid-width center">
      <div data-js-filter class="filter mb4 w-80 center is-active">
        <h4 class="pointer tc din-condensed t-dark-blue t-24 lh-solid ttu flex items-center content-center justify-center">
          <span data-js-filter-trigger class="text dib">Filter By Industry</span>
          <span data-js-filter-trigger class="icon dib f-dark-blue ih i-20 o-40 ml2 filter-icon">{% include 'svg/down-arrow.twig' %}</span>
        </h4>
        <div data-js-filter-content class="dn" style="display: block;">
          <div class="filter-content flex items-start content-start justify-center flex-wrap">

            {% for industry in work_industries %}
              <a
                data-js-filter-item
                data-taxonomy="work_industry"
                data-filter="{{ industry.name | lower | replace({' ': '-'})}}"
                class="work-filter mt2 mh1 dib pa3 button-bg-blue tc t-12 ttu lh-solid no-underline t-white poppins-semi"
                href="/work/industry/{{ industry.name | lower | replace({' ': '-'})}}"><span class="button-label db mt1">{{ industry.name }}</span></a>
            {% endfor %}

          </div>
        </div>
      </div>

      <div data-js-animate-this data-js-animate-page-item data-js-filter class="filter mb4 w-80 center">
        <h4 class="pointer tc din-condensed t-dark-blue t-24 lh-solid ttu flex items-center content-center justify-center">
          <span data-js-filter-trigger class="text dib">Filter By Project Type</span>
          <span data-js-filter-trigger class="icon dib f-dark-blue ih i-20 o-40 ml2 filter-icon">{% include 'svg/down-arrow.twig' %}</span>
        </h4>
        <div data-js-filter-content class="dn">
          <div class="filter-content flex items-start content-start justify-center flex-wrap">

            {% for project_type in work_project_types %}
              <a
                data-js-filter-item
                data-taxonomy="work_project_type"
                data-filter="{{ project_type.name | lower | replace({' ': '-'})}}"
                class="work-filter mt2 mh1 dib pa3 ph4 button-bg-blue tc t-12 ttu lh-solid no-underline t-white poppins-semi"
                href="/work/project-type/{{ project_type.name | lower | replace({' ': '-'})}}"><span class="button-label db mt1">{{ project_type.name }}</span></a>
            {% endfor %}

          </div>
        </div>
      </div>

      <div class="center ph3 relative">
        <div
          data-js-page-loader
          class="page-loader absolute absolute--fill flex items-center content-center justify-center f-dark-blue">{% include 'svg/loader.twig' %}</div>

        <div data-js-posts-container class="row min-vh-50">
          {# NONE OF THIS DOES ANYTHING #}
          {% set secondary_index = 0 %}

          {% for post in posts %}

          {% set column_class = '' %}
          {% set aspect_ratio = '' %}

          {% if loop.index0 < 2 %}
            {% set column_class = 'col-md-6 col-lg-6' %}
            {% set aspect_ratio = 'aspect-ratio--4x3 work-post-item' %}
          {% elseif loop.index0 == 2 %}
            {% set column_class = 'col-md-12 col-lg-12' %}
            {% set aspect_ratio = 'aspect-ratio--16x9 work-post-item' %}
          {% elseif loop.index0 < 6 %}
            {% set column_class = 'col-md-4 col-lg-4' %}
            {% set aspect_ratio = 'aspect-ratio--4x3 work-post-item' %}
          {% elseif loop.index0 >= 6 %}
            {% if secondary_index < 4 %}
              {% set column_class = 'col-md-6 col-lg-6' %}
              {% set aspect_ratio = 'aspect-ratio--4x3 work-post-item' %}
            {% elseif secondary_index < 7 %}
              {% set column_class = 'col-md-4 col-lg-4' %}
              {% set aspect_ratio = 'aspect-ratio--4x3 work-post-item' %}
            {% endif %}

            {% set secondary_index = secondary_index + 1 %}

            {% if secondary_index == 7 %}
              {% set secondary_index = 0 %}
            {% endif %}
          {% endif %}
          {# FFS #}

          <div
            class="col-xs-12 col-sm-12 {{ column_class }} work-item mb3 is-active blog-post"
            data-js-post
            data-industry="{{ post.terms[0].slug }}"
            data-project-type="{{ post.terms[1].slug }}">
        		<a href="{{ post.link }}">
          		<div class="aspect-ratio {{ aspect_ratio }} bg-center work-item-bg-wrapper dark-blue-bg">
                <div class="absolute left-0 top-0 right-0 left-0 dark-blue-bg o-30 z-0"></div>
		            <div
		              style="background-image: url({{ post.preview_image ? TimberImage(post.preview_image).src('large') : (post.header_image ? TimberImage(post.header_image).src('large') : post.thumbnail.src) }});"
		              class="background-image aspect-ratio--object bg-center work-item-bg z-1"></div>
	              <div class="aspect-ratio--object z-1 work-item-cover"></div>
	              <div class="aspect-ratio--object flex items-center content-center justify-start z-2 work-item-caption">
	                <h4 class="center w-60 tc t-white din-condensed t-36 lh-tight"><span class="t-white no-underline ttu">{{ post.get_field('work_name') }}</span></h4>
	              </div>
		          </div>
		        </a>
          </div>

          {% endfor %}

        </div>

      </div>

      <div class="fluid-width center flex items-center content-center justify-center mt5">
        <button data-js-load-more-button class="pointer br-100 t-white bg-transparent bn pa0 ma0 flex items-center content-center overflow-visible justify-center">
          <div>
            <span class="icon loader db f-dark-blue o-50 i-25 pa1 center mb3">{% include 'svg/loader.twig' %}</span>
            <h3 class="t-dark-blue t-18 poppins-reg lh-solid tc o-50 ttu">More</h3>
            <span class="icon dib f-dark-blue o-50 i-30">{% include 'svg/down-arrow.twig' %}</span>
          </div>
        </button>
      </div>

    </div>

    {% if pagination %}
      <span class="dn" data-js-current-page>{{ pagination.current }}</span>
      <span class="dn" data-js-total-pages>{{ pagination.total }}</span>
    {% endif %}

  </section>

  {% block footer %}
    {% include 'partials/footer.twig' %}
  {% endblock %}

{% endblock %}
